.container .changepass {
    background-color: #FFF;
    width: 50%;
    margin: 100px auto;
    padding: 2% 3% 1%;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
}

.container .changepass img{
    width: 20%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.container .changepass .changepass-box {
    width: 70%;
    margin: auto;
}

.container .changepass .changepass-box .change-box {
    display: flex;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

.container .changepass .changepass-box .change-box .change-title {
    width: 30%;
    text-align: right;
    margin-right: 20px;
    color: #695CFE;
}

.container .changepass .changepass-box .change-box .change-input .inputbox {
    width: 200px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 3px;
    padding-left: 5px;
}

.container .changepass .button-changepass {
    display: flex;
    margin-top: 20px;
}

.container .changepass .button-changepass .back-changepass {
    width: 50%;
}

.container .changepass .button-changepass .back-changepass a {
    text-decoration: none;
    border: 1px solid #695CFE;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.8rem;
    color: #695CFE;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 32px;
}

.container .changepass .button-changepass .back-changepass a:hover {
    background-color: #695CFE;
    color: #FFF;
}

.container .changepass .button-changepass .confirm-changepass {
    width: 50%;
    text-align: right;
}

.container .changepass .button-changepass .confirm-changepass input {
    text-decoration: none;
    border: 1px solid #695CFE;
    border-radius: 5px;
    padding: 4px 10px;
    font-size: 0.8rem;
    color: #695CFE;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
    width: 65px;
    cursor: pointer;
}

.container .changepass .button-changepass .confirm-changepass input:hover {
    background-color: #695CFE;
    color: #FFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container .changepass {
        width: 80%;
        padding: 20px;
    }

    .container .changepass .changepass-box {
        width: 100%;
        padding: 0;
    }

    .container .changepass .changepass-box .change-box .change-title {
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    .container .changepass {
        width: 100%;
        margin: auto;
        padding: 20px 12px;
    }

    .container .changepass .changepass-box {
        width: 100%;
        padding: 0;
    }

    .container .changepass .changepass-box .change-box .change-title {
        width: 35%;
    }
}